{% extends 'base.html' %}

{% block title %}
    FaceNet Model
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" defer></script>

{% endblock %}

{% block content %}

<h4 id="introduction-text">
    Find an angle that you like and press the "predict" button.
</h4>

<div class="container" id="pred-container">
    <div class="row justify-content-center" id="pred-row">
        <div class="col">
            <label>Age</label>
            <input type="text" class="form-control" id="age" placeholder="Age" disabled>
        </div>
        <div class="col">
            <label>Race</label>
            <input type="text" class="form-control" id="race" placeholder="Race" disabled>
        </div>
        <div class="col">
            <label>Gender</label>
            <input type="text" class="form-control" id="gender" placeholder="Gender" disabled>
        </div>
    </div>
</div>

<div class="container" id="stream-container">
    <video autoplay="true" id="video-box"></video>
    <canvas id="canvas-box">
</div>

<div id="model-button-div">
    <button type="button" class="btn btn-primary btn-lg" id="model-button"><h3>predict</h3></button>
</div>
{% endblock %}